@model  BinaryStudio.Exam.Models.RegisterModel


    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <fieldset>
            <p>First Name : @Html.TextBoxFor(it => it.FirstName)</p>
            <p>Last Name : @Html.TextBoxFor(it => it.LastName)</p>
            <p>Email : @Html.TextBoxFor(it => it.Mail)</p>
            <p>Day of Birth : @Html.TextBoxFor(it => it.DateOfBirth)</p>
            <p>
                Gender? : @Html.DropDownListFor(it => it.Gender, new[]
                                                         {
                                                             new SelectListItem() {Text = "Male", Value = "Male"},
                                                             new SelectListItem() {Text = "Female", Value = "Female"}
                                                         }, "Choose")
            </p>
            <p>
                Matrial Status? : @Html.DropDownListFor(it => it.Gender, new[]
                                                         {
                                                             new SelectListItem() {Text = "Married", Value = "Married"},
                                                             new SelectListItem() {Text = "Single", Value = "Single"}
                                                         }, "Choose")
            </p>
            <p>Password: @Html.PasswordFor(it => it.Password)</p>
            <p>Confirm password: @Html.PasswordFor(it => it.ConfirmPassword)</p>    
            <input type="submit" value = "Submit data"/>
        </fieldset>
    }
